.slider {
    position: relative;
    max-width: 100%;
    height: 420px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
}

.imageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Flechas */
.leftArrow,
.rightArrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    /* Centrado vertical */
    transform: translateY(-50%);
    /* Ajusta al centro */
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    transition: background 0.3s;
    z-index: 1;
}

.leftArrow {
    left: 10px;
}

.rightArrow {
    right: 10px;
}

.leftArrow:hover,
.rightArrow:hover {
    background: rgba(211, 181, 46, 0.8);
}

/* Indicadores (círculos) */
.indicators {
    position: absolute;
    bottom: 40px;
    /* Espaciado desde la parte inferior */
    left: 50%;
    /* Centrado horizontal */
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    /* Espaciado entre los círculos */
}

.indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: background 0.3s;
}

.indicator.active {
    background: #d3b52e;
    /* Color activo */
}

.indicator:hover {
    background: rgba(255, 255, 255, 1);
}