.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background: linear-gradient(to bottom, rgb(177, 72, 11), rgba(177, 72, 11, 0));
    color: white;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: transform 0.6s ease-in-out;
}

.navbar.visible {
    transform: translateY(0);
    /* Navbar está visible */
}
s
.navbar.hidden {
    transform: translateY(-100%);
    /* Navbar oculto */
}

.absolute {
    font-size: 2rem;
    color: #333;
    margin-right: 0.4cm;
    margin-left: 0.4cm;
}

.phrase {
    color: #000000;
}

/* Logo */
.logo {
    font-size: 0.5rem;
    /* Tamaño reducido para móviles */
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

/* Enlaces de navegación */
.navLinks {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
}

.navLinks li {
    display: inline;
}

.navLinks a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 0.9rem;
    /* Tamaño de texto reducido */
}

.navLinks a:hover {
    color: #ffffff;
}

/* Botón de reserva */
.bookButton {
    background-color: #ffcc00;
    color: #000000;
    padding: 0.4rem 0.8rem;
    /* Botón más compacto */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    /* Tamaño reducido */
    transition: background-color 0.3s ease;
}

.reserve{
    font-weight: bold;
}

.bookButton:hover {
    background-color: #ffcc009c;
    color: rgb(255, 255, 255);
}

/* Icono de menú hamburguesa */
.hamburger {
    display: none;
    /* Oculto en pantallas grandes */
    font-size: 3rem;
    cursor: pointer;
}

/* Vista móvil */
@media (max-width: 768px) {
    .navbar {
        flex-direction: row;
        align-items: flex-start;
        /* Alinear contenido a la izquierda */
        padding: 0.5rem 1rem;
    }

    .bookButton {
        display: none;
    }

    /* Oculta los enlaces de navegación por defecto */
    .navLinks {
        display: none;
        flex-direction: column;
        gap: 0.5rem;
        /* Espaciado compacto entre enlaces */
        width: 100%;
        background-color: #cf5a169d;
        padding: 0.5rem 1rem;
        position: absolute;
        top: 100%;
        /* Alineado justo debajo del navbar */
        left: 0;
        z-index: 999;
    }

    /* Mostrar enlaces cuando la clase active esté presente */
    .navbar.active .navLinks {
        display: flex;
    }

    /* Mostrar hamburguesa en móviles */
    .hamburger {
        display: flex;
        margin-top: 0.3cm;

    }
}