.ratesContainer {
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    max-width: 900px;
    overflow-x: hidden;
    /* Evita el desbordamiento horizontal */
}

.whatsappLink {
    margin-left: 0.5rem;
    vertical-align: middle;
}

.whatsappIcon {
    width: 20px;
    /* Ajusta el tamaño según lo necesites */
    height: 20px;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.3s ease;
}

.whatsappIcon:hover {
    transform: scale(1.2);
    /* Hace que el ícono crezca al pasar el mouse */
    opacity: 0.8;
    /* Añade un efecto de transparencia */
}

.title {
    text-align: center;
    font-size: 2rem;
    color: #b1480b;
    margin-bottom: 1.5rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
    min-width: 100%;
    /* Asegura que no exceda el ancho del contenedor */
}

.table th,
.table td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 0.8rem;
    font-size: 1rem;
    word-wrap: break-word;
    /* Permite dividir texto largo */
}

.table th {
    background-color: #b1480b;
    color: white;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #f1e0d6;
}

.bookButton {
    background-color: #b1480b;
    color: white;
    border: none;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bookButton:hover {
    background-color: #a03d0a;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .table {
        display: block;
        border: none;
        overflow-x: hidden;
        /* Elimina el scroll horizontal */
    }

    .table thead {
        display: none;
        /* Oculta el encabezado en móviles */
    }

    .table tr {
        display: block;
        margin-bottom: 1rem;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .table td {
        display: flex;
        justify-content: space-between;
        padding: 0.8rem;
        font-size: 0.9rem;
        border: none;
        border-bottom: 1px solid #ddd;
        overflow-wrap: break-word;
        /* Permite dividir texto largo */
        text-align: center;
    }

    .table td:last-child {
        border-bottom: none;
    }

    .table td:before {
        content: attr(data-label);
        font-weight: bold;
        color: #b1480b;
        text-transform: capitalize;
        margin-right: 1rem;
    }
}