.section {
    padding: 2rem;
    margin: 1rem auto;
    max-width: 800px;
    background: linear-gradient(to top, #f7f7f7, #fff); /* Degradado de abajo hacia arriba */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.icon {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
}

.title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #b1480b;
}

.content {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
}
